/* Custom CSS */

.min-h-screen {
    min-height: 60vh !important;
}
.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: transparent !important;
}
.sidebar .nav-item .nav-link {
    padding: 0.5rem;
    margin-left: 1rem;
    width: 12rem;
}
.centeranydiv {
    margin: auto;
    width: 60%;
    padding: 10px;
    }
.form-control {
        border-radius: 0.5rem !important;
}
